;IMPORTANT: RENAME THIS FILE TO "secrets.ini" AND FILL IN THE VALUES BEFORE RUNNING THE APPLICATION.

;suppress inspection for section "DuplicateKeyInSection"
[Database]
Credentials:Main:Password=
Credentials:Audit:Password=

[AuthRequirements]
OTPSecret=
RsaPrivateKey=